<a href="https://colab.research.google.com/github/watchara-p/COS3302/blob/main/week3_read_file.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
# Mount google drive
from google.colab import drive
ROOT = "/content/GDrive"
drive.mount(ROOT)

Mounted at /content/GDrive

In [ ]:
# Read excel file
excel_file = "/content/GDrive/MyDrive/COS3302-Term1-65/week3/courses.XLSX"
df = pd.read_excel(excel_file)
print(df)

  Courses     Fee Duration   Discount
0    Spark  25000   50 Days       2000
1   Pandas  20000   35 Days       1000
2     Java  15000       NaN        800
3   Python  15000   30 Days        500
4      PHP  18000   30 Days        800

In [ ]:
# Read excel by considering first row as data
columns = ['courses', 'course_feee', 'course_duration', 'course_discount']
df2 = pd.read_excel(excel_file, header=0, names=columns)
print(df2)

  courses  course_feee course_duration  course_discount
0   Spark        25000         50 Days             2000
1  Pandas        20000         35 Days             1000
2    Java        15000             NaN              800
3  Python        15000         30 Days              500
4     PHP        18000         30 Days              800

In [ ]:
# Read excel by setting column as index
df2 = pd.read_excel(excel_file, index_col=0)
print(df2)

            Fee Duration   Discount
Courses
Spark     25000   50 Days       2000
Pandas    20000   35 Days       1000
Java      15000       NaN        800
Python    15000   30 Days        500
PHP       18000   30 Days        800

In [ ]:
# Read specific excel sheet
df = pd.read_excel(excel_file, sheet_name='Sheet1')
print(df)

  Courses     Fee Duration   Discount
0    Spark  25000   50 Days       2000
1   Pandas  20000   35 Days       1000
2     Java  15000       NaN        800
3   Python  15000   30 Days        500
4      PHP  18000   30 Days        800

In [ ]:
# Read Multiple sheets
dict_df = pd.read_excel(excel_file, sheet_name=['Sheet1', 'Sheet2'])

In [ ]:
# Get DataFrame from Dict
course_df = dict_df .get('Sheet1')
course_updated_df = dict_df.get('Sheet2')

In [ ]:
# Print DataFrame's
print(course_df)
print(course_updated_df)

  Courses     Fee Duration   Discount
0    Spark  25000   50 Days       2000
1   Pandas  20000   35 Days       1000
2     Java  15000       NaN        800
3   Python  15000   30 Days        500
4      PHP  18000   30 Days        800
  Courses     Fee Duration   Discount
0    Spark  25000   50 Days       2000
1   Pandas  20000   35 Days       1000
2     Java  15000   30 Days        700
3   Python  15000   30 Days        500
4      PHP  18000   30 Days        800

In [ ]:
# Read excel by skipping columns
df2 = pd.read_excel(excel_file, usecols=[0, 2])
print(df2)

  Courses  Duration
0    Spark   50 Days
1   Pandas   35 Days
2     Java       NaN
3   Python   30 Days
4      PHP   30 Days

In [ ]:
# Skip columns by range
df2 = pd.read_excel(excel_file, usecols='B:D')
print(df2)

     Fee Duration   Discount
0  25000   50 Days       2000
1  20000   35 Days       1000
2  15000       NaN        800
3  15000   30 Days        500
4  18000   30 Days        800

In [ ]:
# Read excel file by skipping rows
df2 = pd.read_excel(excel_file, skiprows=2)
print(df2)

   Pandas  20000  35 Days  1000
0    Java  15000      NaN   800
1  Python  15000  30 Days   500
2     PHP  18000  30 Days   800

In [ ]:
# Using skiprows to skip rows
df2 = pd.read_excel(excel_file, skiprows=[1, 3])
print(df2)

  Courses     Fee Duration   Discount
0   Pandas  20000   35 Days       1000
1   Python  15000   30 Days        500
2      PHP  18000   30 Days        800

In [ ]:
# Using skiprows with lambda
df2 = pd.read_excel(excel_file, skiprows=lambda x: x in [1, 3])
print(df2)

  Courses     Fee Duration   Discount
0   Pandas  20000   35 Days       1000
1   Python  15000   30 Days        500
2      PHP  18000   30 Days        800

In [ ]:
# Read JSON from string
json_str = '{"Courses":{"r1":"Spark"},"Fee":{"r1":"25000"},"Duration":{"r1":"50 Days"}}'
df = pd.read_json(json_str)
print(df)

   Courses    Fee Duration
r1   Spark  25000  50 Days

In [ ]:
# Read JSON from string
json_str = '[{"Courses":"Spark","Fee":"25000","Duration":"50 Days","Discount":"2000"}]'
df = pd.read_json(json_str, orient='records')
print(df)

  Courses    Fee Duration  Discount
0   Spark  25000  50 Days      2000

In [ ]:
# Read JSON file
json_file1 = "/content/GDrive/MyDrive/COS3302-Term1-65/week3/courses_data.json"
df = pd.read_json(json_file1)
print(df)

  Courses    Fee Duration
0   Spark  25000  50 Days
1  Pandas  20000  35 Days
2    Java  15000

In [ ]:
# Read JSON file with records orient
json_file2 = "/content/GDrive/MyDrive/COS3302-Term1-65/week3/courses.json"
df = pd.read_json(json_file2, orient='records')
print(df)

  Courses    Fee Duration  Discount
0   Spark  25000  50 Days      2000
1  Pandas  20000  35 Days      1000
2    Java  15000                800

In [ ]:
# 1.Read csv file
csv_file = "/content/GDrive/MyDrive/COS3302-Term1-65/week3/courses.csv"
df = pd.read_csv(csv_file)
print(df)
print('\n')
print(df['Spark'])

    Spark  25000  50 Days  2000
0  Pandas  20000  35 Days  1000
1    Java  15000      NaN   800
2  Python  15000  30 Days   500
3     PHP  18000  30 Days   800


0    Pandas
1      Java
2    Python
3       PHP
Name: Spark, dtype: object

In [ ]:
# 2.Read csv file without column names
df = pd.read_csv(csv_file, header=None)
print(df)

        0      1        2     3
0   Spark  25000  50 Days  2000
1  Pandas  20000  35 Days  1000
2    Java  15000      NaN   800
3  Python  15000  30 Days   500
4     PHP  18000  30 Days   800

In [ ]:
# 3.Read csv file by custom column name
df = pd.read_csv(csv_file, names=['Courses', 'Fee', 'Duration', 'Discount'])
print(df)

  Courses    Fee Duration  Discount
0   Spark  25000  50 Days      2000
1  Pandas  20000  35 Days      1000
2    Java  15000      NaN       800
3  Python  15000  30 Days       500
4     PHP  18000  30 Days       800

In [ ]:
# 4.Read csv file by set columns to be used as the index
df = pd.read_csv(csv_file, header=None, index_col=0)
print(df)

            1        2     3
0
Spark   25000  50 Days  2000
Pandas  20000  35 Days  1000
Java    15000      NaN   800
Python  15000  30 Days   500
PHP     18000  30 Days   800

In [ ]:
# 5.Read csv file by column specified with the index
df = pd.read_csv(csv_file, header=None, usecols=[0, 1, 2])
print(df)

        0      1        2
0   Spark  25000  50 Days
1  Pandas  20000  35 Days
2    Java  15000      NaN
3  Python  15000  30 Days
4     PHP  18000  30 Days

In [ ]:
# 6.Read csv file by convert values in the columns by defined functions
f = lambda x: int(x) / 100
df = pd.read_csv(csv_file, header=None, converters={3:f})
print(df)

        0      1        2     3
0   Spark  25000  50 Days  20.0
1  Pandas  20000  35 Days  10.0
2    Java  15000      NaN   8.0
3  Python  15000  30 Days   5.0
4     PHP  18000  30 Days   8.0

In [ ]:
# 7.Read csv file skipping rows specified with indexes
df = pd.read_csv(csv_file, header=None, skiprows=[1, 3])
print(df)

       0      1        2     3
0  Spark  25000  50 Days  2000
1   Java  15000      NaN   800
2    PHP  18000  30 Days   800

In [ ]:
# 8.Read csv file skipping even rows with lambda
f = lambda x: (x + 1) % 2 == 0
df = pd.read_csv(csv_file, header=None, skiprows=f)
print(df)

       0      1        2     3
0  Spark  25000  50 Days  2000
1   Java  15000      NaN   800
2    PHP  18000  30 Days   800

In [ ]:
# 9.Read a csv file specifying the number of rows of the file to read
df = pd.read_csv(csv_file, header=None, nrows=3)
print(df)

        0      1        2     3
0   Spark  25000  50 Days  2000
1  Pandas  20000  35 Days  1000
2    Java  15000      NaN   800

In [ ]:
# 10. Read a csv file by fills NaN (missing values) with a specified value
df = pd.read_csv(csv_file, header=None).fillna('')
print(df)

        0      1        2     3
0   Spark  25000  50 Days  2000
1  Pandas  20000  35 Days  1000
2    Java  15000            800
3  Python  15000  30 Days   500
4     PHP  18000  30 Days   800